
<!DOCTYPE html>


<html lang="en">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Åukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>User</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../library/coreui/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../library/coreui/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../library/coreui/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../library/coreui/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../library/coreui/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../library/coreui/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../library/coreui/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../library/coreui/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../library/coreui/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../library/coreui/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../library/coreui/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../library/coreui/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../library/coreui/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="../library/coreui/assets/favicon/manifest.json">
  <link rel="stylesheet" href="../library/coreui/dist/css/coreui.min.css" type="text/css">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../library/coreui/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Main styles for this application-->

  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>

  <link href="../library/coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body class="c-app">

  <div class="c-wrapper c-fixed-components">
   <%- include('../header'); -%>
    <div class="c-body">
      <main class="c-main">
        <div class="container-fluid">
          <div class="fade-in">

            <!-- /.row-->
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="card">
                  <div class="card-header"><strong>Profile</strong> </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input class="form-control" id="username" type="text" placeholder="" disabled="true" value="<%=user[0].username%>">
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input class="form-control" id="email" type="email" placeholder="" value="<%=user[0].email%>">
                    </div>
                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <input class="form-control" id="gender" type="text" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="dateofbirth">Date of birth</label>
                      <input class="form-control" id="dateofbirth" type="date" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="street">Street</label>
                      <input class="form-control" id="street" type="text" placeholder="Enter street name">
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-8">
                        <label for="city">City</label>
                        <input class="form-control" id="city" type="text" placeholder="Enter your city">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="postal-code">Postal Code</label>
                        <input class="form-control" id="postal-code" type="text" placeholder="Postal Code">
                      </div>
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="country">Country</label>
                      <input class="form-control" id="country" type="text" placeholder="Country name">
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
    </div>
    </main>
    <%- include('../footer'); -%>
  </div>
  </div>
  <!-- CoreUI and necessary plugins-->
  <script src="/library/coreui/dist/js/coreui.bundle.min.js"></script>
  <!--[if IE]><!-->
  <script src="/library/coreui/icons/js/svgxuse.min.js"></script>
  <!--<![endif]-->
  <!-- Plugins and scripts required by this view-->
  <script src="/library/coreui/chartjs/dist/js/coreui-chartjs.bundle.js"></script>
  <script src="/library/coreui/utils/dist/coreui-utils.js"></script>

  <script src="/library/jquery/jquery-3.5.1.js"></script>


  <script>
      $('#current-breadcrumb').append('<li class="breadcrumb-item">User</li><li class="breadcrumb-item"><%=user[0].username%></li>');//sub header\
  </script>
</body>

</html>